body{

}
#title{
  background-color: #373A40;
  color:#fff;
  font-family: "Montserrat";
}
.logo{
  width:100%;
  float:left;
}
.navbar-brand{
  width:20%;
}

}
.bgimg{
  opacity: 0.9;
  margin:5% 5%;
}
.title-button{
  margin:5% 3%;
}
h1{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
}
.navbar{

}

.container-fluid{
  padding: 3% 15% 7%;

}
a{
  text-decoration: none;
}
@media (max-width:1300px){
  .bgimg{
    width:100%;
    height: 100%;
  }
  .logo{
    width:200%;
    float:left;
  }
  h3{
    font-size: 1.5rem;
    line-height: 1;
  }
#intro{
  margin:5% 10%;
}
.card{
    position: relative;
    left:25%;
}
.video{
  position: relative;
  right:5%;
}

}

/* Features */
#features{
  margin:10% 15%;
  text-align: center;
}
p{
  color:#748DA6;
  line-height: 1.5;
}
.feature-img{
  padding-bottom: 4%;
}
.feature-box{
  padding: 2% 5%;
  transform:
}

/* Hstory */
#history{
  text-align: center;
  background-color:#373A40;
  color: #fff;
  padding:5% 2%;
}
.history-section{
  margin:5% 10%;

}
h5{
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  font-size: 2rem;
}

#intro{
  margin:5% 15%;
  text-align: center;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}
/* TOP Marvel Heroes */
#top-heroes{
  text-align: center;
  background-color:#373A40;
  padding: 5% 10%;
  color: black;
}
.hero{
  color: #fff;
}
.card{
   margin:3%;
   padding:5%;
   text-align: center;
}
.row{
  text-align: center;
}
/* Movies */
#movies{
  margin:5% 10%;
  text-align: center;
}
.marvel{
  padding: 5% 3%;
}
.carousel-control-next-icon{
  color: #fff;
}
/* Villains */
#villain{
  padding: 5% 15%;
  background-color:#373A40;
  text-align: center;

}
.villain{
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
}
#upcoming{
  padding: 5% 10%;
  text-align: center;
}
.new-heroes{
  padding: 5% 3%;
}
#bundle{
  text-align: center;
  padding: 5% 10%;
  background-color:#373A40;
  color: #fff;
}
#footer{
  text-align: center;
  padding:7% 15% 5%;
}
.footer-icon{
  padding: 3% 5%;
}
.footer-icon:hover{
  color: grey;
}
